body {
    max-width: 900px;
    background-image: url('images/backgrounds/metaldesign_background_texture.jpg');
    color: maroon;
    font-family: fantasy;
    font-weight: bold;
    font-size: 56px;
}

div {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

body, #header, .text, #addEndGame {
    background-position: center;
    background-color: rgb(60, 60, 60);
    overflow: hidden;
}

body, #choose {
    text-align: center;
}

.text, #closeModal, #choose, body {
    margin: 0 auto;
}

.block {
    display: block;
}

.text, #addEndGame, #chooseModal, #closeModal, .images, #matchInfo {
    display: inline-block;
}

#header, .text, #closeModal, #addEndGame, .matchInfo, #matchInfo {
    border: 6px ridge dimgray;
    border-radius: 4px;
}

#addEndGame > .text {
    margin: 20px auto 0;
}

#header, .text, #matchInfo { 
    padding: 26px 10px 16px;
}

#header, .text, .matchInfo, #matchInfo { 
    background-image: url('images/backgrounds/metalscratched_background_texture.jpg');
}

#choose {
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    overflow: auto;
}

#scoreboard, #choose, #matchInfo {
    width: 100%;
}

#addEndGame {
    background-image: url('images/backgrounds/metalgrate_background_texture.jpg');
    background-size: 90%;
    margin: 110px auto 0px;
    overflow: visible;
}

#chooseModal {
    position: relative;
    font-size: 40px;
}

#closeModal {
    font-size: 30px;
}

.images {
    background: radial-gradient(maroon, rgb(128, 0, 0, 0.5), rgb(128, 0, 0, 0), rgb(128, 0, 0, 0));
}

.images > img {
    margin: 10px;
    padding: 25px;
    max-width: 150px;
}

#player, #computer, #playerWeapon, #computerWeapon, #scoreboard, #choose  {
    position: fixed;
}

#playerWeapon > img , #computerWeapon > img {
    max-width: 245px;
}

#playerWeapon {
    left: 400px;
}

#playerWeapon, #computerWeapon {
z-index: 10;
}

#computerWeapon {
    right: 400px;
}

#player {
    left: 0%;
}

#computer {
    right: 0%;
}

#scoreboard {
    bottom: 38px;
    left: 0%;
}

.twofive, .matchInfo {
    float: left;
}

.twofive {
    width: 12.5%;
    height: 1px;
}

.matchInfo {
    width: 25%;
    text-align: left;
    padding: 26px 0px 16px;
}

#matchInfo {
    position: relative;
    text-align: center;
    top: 200px;
}

@media all and (min-width: 481px) and (max-width: 768px) {
    body {
        max-width: 720px;
    }
}

@media all and (max-width: 480px) {
    body {
        max-width: 440px;
    }
}